.todo-item-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-item-container>input {
    width: 80%;
    font-size: larger;
    border-bottom: 0.15rem solid #0C359E;
    padding: 0.75rem 1rem 0.5rem 1rem;
}

.todo-item-container>input:focus {
    outline: none;
    background-color: #EEF5FF;
}

.todo-item-container>div {
    display: flex;
    width: 20%;
    justify-content: end;
    gap: 1rem;
}

.todo-item-container button {
    width: 40%;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    font-size: large;
    color: white;

}

.todo-item-container button:hover {
    opacity: 60%;
    cursor: pointer;
}

.btn-edit {
    background-color: #1e96fc;
}

.btn-delete {
    background-color: #ef233c;
}