form {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

form input[type=text] {
    border: 0.1rem solid black;
    border-radius: 0.3rem;
    padding: 0.5rem;
    width: 60%;
    height: 4vh;
    grid-area: 1 / 2 / 2 / 3;
}

form input[type=submit] {
    padding: 0 2rem;
    height: 4vh;
    background-color: #697060;
    border-radius: 0.5rem;
    text-decoration: none;
    color: white;
    font-size: large;
    grid-area: 2 / 2 / 3 / 3;
}

form label {
    grid-area: 1 / 1 / 2 / 3;
}